{
  "name": "{{ project_name|lower|replace(' ', '-') }}",
  "private": true,
  "type": "module",
  "version": "0.0.1",
  "scripts": {
    "storybook": "storybook dev -p 6009",
    "storybook:svelte": "pnpm --filter @{{ project_slug }}/ui-svelte storybook",
    "storybook:react": "pnpm --filter @{{ project_slug }}/ui-react storybook",
    "storybook:wc": "pnpm --filter @{{ project_slug }}/ui-webcomponents storybook",
    "storybook:all": "concurrently \"pnpm:storybook:svelte\" \"pnpm:storybook:react\" \"pnpm:storybook:wc\" \"pnpm:storybook\"",
    "build-storybook": "storybook build",
    "build:all": "pnpm --filter @{{ project_slug }}/* build",
    "test": "pnpm -r test",
    "test:watch": "pnpm -r test:watch",
    "lint": "eslint .",
    "lint:fix": "eslint . --fix",
    "format": "prettier --write .",
    "format:check": "prettier --check .",
    "knip": "knip",
    "typecheck": "pnpm -r typecheck"
  },
  "devDependencies": {
    "@chromatic-com/storybook": "^4.0.2",
    "@eslint/js": "^9.39.1",
    "@storybook/addon-a11y": "^10.1.4",
    "@storybook/addon-docs": "^10.1.4",
    "@storybook/addon-vitest": "^10.1.4",
    "@storybook/react-vite": "^10.1.4",
    "@sveltejs/vite-plugin-svelte": "^5.0.2",
    "@vitejs/plugin-react": "^4.3.4",
    "concurrently": "^9.2.1",
    "eslint": "^9.39.1",
    "eslint-config-prettier": "^10.1.8",
    "eslint-plugin-jsx-a11y": "^6.10.2",
    "eslint-plugin-react": "^7.37.5",
    "eslint-plugin-react-hooks": "^7.0.1",
    "eslint-plugin-storybook": "^10.1.4",
    "eslint-plugin-svelte": "^3.13.0",
    "knip": "^5.71.0",
    "lit": "^3.2.1",
    "prettier": "^3.7.4",
    "prettier-plugin-svelte": "^3.4.0",
    "react": "^19.2.0",
    "react-dom": "^19.2.0",
    "storybook": "^10.1.4",
    "svelte": "^5.45.4",
    "svelte-eslint-parser": "^1.4.1",
    "typescript-eslint": "^8.48.1",
    "vite": "^7.0.0"
  }
}
